PHX_SERVER=true
PHX_HOST=example.com
PORT=4000
SECRET_KEY_BASE=

MONGO_DATABASE=pomoroom_prod
MONGO_USERNAME=mongo
MONGO_PASSWORD=

LIVEKIT_URL=wss://example.com:7443
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
