.message-bubble-mine {
  max-width: 70%;
  word-wrap: break-word;
  background-color: #e9d5ff;
  color: #1f2937;
}

.message-bubble-other {
  max-width: 70%;
  word-wrap: break-word;
  background-color: #e5e7eb;
  color: #1f2937;
}

.message-time {
  text-align: right;
  color: #374151;
  font-size: 0.75rem;
  opacity: 1;
}
